<div class="footer">
	<div class="container">
	<p>
	<a href="#">Rails 0+B</a> | Copyright©2014 <a href="#">JRD</a>. All Rights Reserved.<br>
	本網頁樣式來自 CouchDB: The Definitive Guide。
	</p>
</div>
</div>