<div class="page_header">
    <h1 class="logo">
    	<%= link_to('Rails 0+B 新手指南', '/') %>
      	<span>使用 Rails 3.2 及 Ruby 1.9.3</span>
    </h1>
    <div class="search_box">
        <form class="search" action="http://www.google.com/search">
        <!--<input type="hidden" value="ihower.tw/rails3" name="as_sitesearch">-->
        <input class="search_field" type="text" value="" name="as_q">
        <input class="search_btn" type="submit" value="Search">
        </form>
    </div>
</div>
<div class="notice">
    <p class="inner info_bubble">
        站長還在新手村的等級，若您發現文章中有任何錯誤，歡迎來信給我，謝謝。
    </p>
</div>